@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", "sans-serif";
}
body {
    height: 100%;
    display: flex;
    background-color: rgb(197, 44, 24);
}
.title {
    font-size: 50px;
    font-weight: 900;
}
.main {
    display: flex;
    flex-direction: column;
}
.functions {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.functions div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
div button {
    font-size: 26px;
    text-align: center;
    height: 70px;
    padding: 10px;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.39);
}
.colorText{
    font-size: 30px;
    font-weight: 900;
}
#colorPicker {
    height: 100px;
    width: 100px;
    border: none;
    cursor: pointer;
    background-color: rgb(197, 44, 24);
}
#clearBtn {
    background-color: orangered;
    cursor: pointer;
}
#clearBtn:hover {
    background-color: rgb(184, 51, 3);
}
#rainbowActive {
    background-color: rgb(255, 0, 200);
    cursor: pointer;
}
#rainbowActive:hover {
    background-color: rgb(156, 5, 124);
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navBar {
    display: flex;
    gap: 40px;
}
.btn {
    height: 70px;
    width: 100px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.39);
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}
#btn8 {
    background-color: rgb(25, 179, 240);
}
#btn8:hover {
    background-color: rgb(26, 152, 202);
}
#btn16 {
    background-color: rgb(20, 235, 20);
}
#btn16:hover {
    background-color: rgb(18, 180, 18);
}
#btn32 {
    background-color: yellow;
}
#btn32:hover {
    background-color: rgb(206, 206, 14);
}
#btn64 {
    background-color: orange;
}
#btn64:hover {
    background-color: rgb(206, 134, 2);
}
#btn128 {
    background-color: red;
}
#btn128:hover {
    background-color: rgb(187, 4, 4);
}
.canvas {
    height: 640px;
    width: 640px;
    box-sizing: content-box;
    display: flex;
    min-width: 640px;
    flex-wrap: wrap;
    gap: 0;
    margin: 0;
    border: 10px solid black;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.39);
}
.pixel {
    background-color: white;
    border: solid hsla(0, 0%, 0%, 0.034) 0.1px;
}